:root {
    --buttongreen: #1deb76;
    --buttondarkgreen: #0d793c;
    --buttonpurple: #c026a9;
    --bordergray: rgb(207, 207, 207);
    --memoryboxgreen: #84ffb9;
    --borderblack: rgb(63, 63, 63);
    --timerblue:rgb(79, 167, 255);
    --white: #ffffff;
}

* {
    box-sizing: border-box;
  }
  
  main::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.whitespace {
    padding: 20px;
}

.whitespace-sm {
    padding: 10px;
}
  
/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .sidebar {
        padding-top: 150px;
    }

    .whitespace {
        padding: 60px;
    }

    .whitespace-sm {
        padding: 30px;
    }
}

.center {
    text-align: center;
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.toontijd {
    background-color: var(--buttongreen);
    width: 200px; 
    height: 20px;
    border: 2px solid var(--bordergray);
}

@keyframes timer {
    from { width: 0; }
    to { width: 100%; }
}
  
.timer {
    max-width: 200px;
    height: 16px;
    border:none;
    background-color: var(--timerblue);
    animation: timer 60s linear infinite;
}


.grid-container {
    display: grid;
    max-width: 600px;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: var(--memoryboxgreen);
}

.grid-item {
    border: 3px solid var(--white);
    font-size: 15px;
    font-weight: bold;
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.open {
    background-color: var(--buttondarkgreen);
}

.gevonden {
    background-color: var(--buttonpurple);
}

.kleurselectie {
    background: linear-gradient(to bottom,var(--white), var(--bordergray));
    border: 1px var(--borderblack) solid;
    width: 110px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}

.kleurweergave {
    border: 1px solid var(--bordergray);
    width: 110px; 
    height: 20px;
    padding:0;
}

table {
    border-spacing: 1px;
}

